html {
    scroll-behavior: smooth;
}

/* Navigation Bar */
body {
    margin: 0;
    overflow-x: hidden;
}

nav > ul > li > a {
    text-decoration: none;
    color:rgb(61, 61, 61, 0.4);
    font-size: 20px;
}

nav > ul > a:hover {
    color:#ff9100;
    transition: all .2s ease-in-out 0s;
    transform: scaleX(1);
}

nav {
    text-decoration: none;
    text-align: right;
    padding-right: 20%;
    padding: 1.5em 20% 1.5em 0em;
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 2;
    opacity: 0.1;
}

nav:hover,
nav > ul > li > a {
    opacity: 1;
    -webkit-transition: opacity 500ms linear;
    -ms-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
}




.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.navigation > li {
    display: inline;
    padding: 1rem;
    font-size: 18px;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: rgb(61, 61, 61);
  }

  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #00184c;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

#logo {
    float: left;
    padding-left: 20%;

}

#quote {
  appearance: button;
  background-color: #d17600;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

#quote:after,
#OurWorkBtn:after {
  background-clip: padding-box;
  background-color: #ff9100;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

#quote:main,
#quote:focus,
#OurWorkBtn:main,
#OurWorkBtn:focus {
  user-select: auto;
}

#quote:hover:not(:disabled),
#OurWorkBtn:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

#quote:disabled,
#OurWorkBtn:disabl {
  cursor: auto;
}

#hero-image{
    max-width: 105vw;
    max-height: 86vh;
}

#fullScreen {
    max-width: 100vw;
    max-height: 100vh;
}

/* About Us Section */

#contentContainer {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

#contentContainerForm{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

#contentContainerServices {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 2%;
}

.itemContainer {
    width: 100%;
    display: flex;
    padding: 5vh 0;
}

.itemRight, .itemLeft {
    max-width: 47%;
    margin-right: auto;
    border-radius: 5%;
    margin-right: 5%;
}

.itemLeftContainer {
    max-width: 80%;
    margin-right: auto;
    float: left;
}

p {
    display: inline-block;
    margin-top: 0;
}

#itemRightContainer {
    width: 100%;
    border-radius: 5%;
    display: inline;
    margin-top: 1em;
}

#itemLeftContainer {
    float: left;
    margin-top: 0;
    display: contents;
}



#formTextContainer {
    margin-top: 0;
    margin-right: 5%;
}


#Who_Are_We {
    color: #ff9100;
    font-weight: bolder;
    font-size: 1.4em;
    margin-bottom: 0;
}

#About_Heading {
    color: #00184c;
    font-size: 2.5em;
    margin-top: 2%;
    margin-bottom: 2%;
}

p {
    font-size: 20px;
    color: rgb(61, 61, 61);
    line-height: 1.5em;
    letter-spacing: 0.2px;
}

::placeholder {
    color: black;
    opacity: 1; /* Firefox */
    font-weight: bolder;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: black;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: black;
  }

#OurWorkBtn{
    text-decoration: none;
    appearance: button;
    background-color: #d17600;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1em;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    transform: translateZ(0);
}

#image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5%;
}

#caption {
    text-align: center;
}

.itemLeft > div {
    margin-top: 5%;
}

.imgLeft {
    max-width: 47%;
    max-height: 800px;
    margin-right: auto;
    float: left;
    border-radius: 5%;
}

.imgAboutUsRight{
    max-width: 100%;
    max-height: 100%;
    margin-right: auto;
    float: right;
    border-radius: 5%;
    display: block;
}

.imgRight {
    max-width: 47%;
    max-height: 800px;
    margin-right: auto;
    float: right;
    border-radius: 5%;
}

#serviceContainer {
    text-align: center;
}

#serviceHeader {
    color: #313c4d;
    font-size: 36px;
}

.itemContainerServices {
    width: 100%;
    display: flex;
    margin-bottom: 5%;
    text-align: center;
    display: inline;
}

#images {
    width: 20%;
    display: inline-block;
    padding: 2%;
}

#imageText {
    float: left;
    color: rgb(5, 5, 5);
}

#servicesContainer {
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 2%;
}

h3 {
    color:rgb(61, 61, 61);
    font-size: 22px;
}

#serviceHeader02 {
    color: #ff9100;
    font-size: 36px;
    margin-top: 0;
}

#serviceContainer02 {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.extraList > li {
    display: inline;
    padding: 1rem;
    font-size: 18px;
    text-align: center;
    color: #00184c;
    font-weight: bolder;
}

ul {
    padding-inline-start: 0;
}



#reviewContainer {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 5%;
}

#review {
    width: 25%;
    float: left;
    color: rgb(255, 255, 255);
    padding-right: 0%;
    padding-left: 5%;
}

#flexwrapping {
    float: left;
}


#star {
    color: #ff9100;
    width: 25%;
    float: left;
    margin-bottom: 0%;
    padding-right: 0%;
    padding-left: 5%;
}

#tick {
    color: #ff9100;
}

.blueBackground {
    background-color: rgb(0, 24, 77, 95%);
    padding-bottom: 3%;
    border-top: #ff9100 5px solid;
    border-bottom: #ff9100 5px solid;
}

#serviceHeader03{
    color: rgb(209, 209, 209);
    font-size: 36px;
    margin-top: 5%;
    text-align: center;
}

#contentContainer02 {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

.btn {
    margin-top: 12px;
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
    border-radius: 6px;
  }
  
.btn:hover {
    background-color: #ffb95e;
  }

  .btn.active {
    background-color: #ff9100;
    color: white;
  }

.row,
.row > .column {
    padding-top: 12px;
    padding-right: 14px;
}

.column {
    float: left;
    width: 31%;
    display: none; /* Hide all elements by default */
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .show {
    display: block;
  }
    
.submitbutton {
    height: 3em;
    width: 95%;
    margin-top: 0.5%;
    border-radius: 12px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 9px 15px;
    background-color: #a75e00;
    cursor: pointer;
}

#btnCenter {
    text-align: center;
    padding-bottom: 2.5%;
}

#email, #message, #address, #name, #phone {
    background-color: #d17600;
    width: 95%;
    color: rgb(0, 0, 0);
    border: 2px solid #000000;
    margin: 1%;
    padding: 1%;
}

#service {
    background-color: #d17600;
    width: 98%;
    color: rgb(0, 0, 0);
    border: 2px solid #030303;
    margin: 1%;
    padding: 1%;
    font-size:18px;
    font-family: 'Courier New', Courier, monospace;
}

#sideService,
#semail,
#smessage,
#saddress,
#sname,
#sphone {
    margin-left: 1%;
    font-family: 'Courier New', Courier, monospace;
    font-size:18px;
    font-weight: bolder;
}


.itemRightInfo > p {
    color: rgb(209, 209, 209)
}





input[type="text"],
input[type="email"],
textarea[name="message"],
input[type="tel"]
{
    font-size:18px;
    font-family: 'Courier New', Courier, monospace;
}

.itemRightForm {
    padding-top: 1%;
    background-color: #f0860c;
    max-width: 47%;
    border-right: 20px solid #a75e00;
    border-radius: 5px;
}

#itemLeftContainer {
    color: rgb(209, 209, 209);
}

#formText {
    font-size: 20px;
    color: white;
    line-height: 1.5em;
    letter-spacing: 0.2px;
    margin-left: 0.5%;
    margin-bottom: 0;
}

#formTextWhite {
    font-size: 20px;
    color: rgb(209, 209, 209);
    line-height: 1.5em;
    letter-spacing: 0.2px;
    margin-bottom: 0;
    margin-top: 0;
}

.imageBackground {
    background: rgba(0, 24, 77);
    border-bottom: 3px solid #d17600;
}

.tabletScreenActive{
    display: none;
}

#info {
    color: white;
    font-size: 18px;
    font-weight: bold;
    float: right;
}

h1 {
    font-size: 32px;
    margin: 0;
}

.itemRightInfo {
    text-align: center;
    float: right;
    width: 60%;
    margin-right: 5%;
}

a {
    color: #0051ff;
}

a:hover {
    color: #f0860c;
    cursor: pointer;
}

#map {
  height: 18em; /* The height is 400 pixels */
  width: 95%; /* The width is the width of the web page */
  margin-bottom: 2%;
  margin-top: 5%;
}

#footerLogo {
    height: 20%;
    width: 20%;
    display: block;
    float: left;
    padding-top: 1%;
}

.itemRightFoot {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 1%;
}

.itemContainerFooter {
    width: 100%;
    padding: 2vh 0;
    align-items: center;
    background-color: rgb(0 0 0 / 45%);
}

#contentContainerFooter {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background: rgba(0, 24, 77);
}

.itemRightFoot > p{
    margin-left: 50%;
    color: white;
    line-height: 1em;
}

#paddedTop {
    padding-top: 2.5%;
}

.mobileScreen {
    display: none;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {background: red;}
    .itemLeft{
        max-width: 100%;
    }

    #Who_Are_We{
        font-size: 16px;
    }

    p {
        font-size:18px;
    }

    .mobileScreenActive{
        display: none;
    }

    #About_Heading {
        font-size: 24px;
    }
    .laptopScreenActive{
        display: block;
    }

    .desktopScreenActive{
        display: none;
    }

    .itemContainer {
        padding-bottom: 0;
    }

    #contentContainer {
        padding-bottom: 2%;
        width: 80%;
    }

    #images {
        width: 95%;
    }

    #servicesContainer {
        padding-top: 5%;
    }

    .phoneScreenActive {
        display: block;
    }

    #contentContainer02 {
        width: 100%;
    }

    #review {
        width: 90%;
        float: left;
        color: rgb(255, 255, 255);
        padding-top: 2%;
    }
    
    #star {
        padding-top: 5%;
        border-top: 1px solid #ff9100;
        width: 100%;
    }

    .mobileActive {
        display: none;
    }

    .desktopActive {
        display: block;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    body {background: green;}
    #Who_Are_We{
        font-size: 1.1em;
    }

    #About_Heading {
        font-size: 24px;
    }
    .laptopScreenActive{
        display: block;
    }

    .desktopScreenActive{
        display: none;
    }

    .itemContainer {
        padding-bottom: 0;
    }

    #contentContainer {
        padding-bottom: 2%;
        width: 80%;
    }

    #images {
        width: 45%;
    }

    #servicesContainer {
        padding-top: 2%;
    }

    .smallTabletScreenActive{
        display: block;
    }
    
    .tabletScreenActive{
        display: none;
    }

    .phoneScreenActive {
        display: none;
    }

    #contentContainer02 {
        width: 90%;
    }

    .mobileActive {
        display: block;
    }

    .desktopActive {
        display: none;
    }

  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 850px) {
    body {background: blue;}
    #About_Heading {
        font-size: 32px;
    }
    .laptopScreenActive{
        display: block;
    }

    .desktopScreenActive{
        display: none;
    }

    .itemContainer {
        padding-bottom: 0;
    }

    #contentContainer {
        padding-bottom: 2%;
        width: 80%;
    }

    #images {
        width: 45%;
    }

    #servicesContainer {
        padding-top: 1%;
    }

    .tabletScreenActive{
        display: block;
    }

    .smallTabletScreenActive{
        display: none;
    }

    .phoneScreenActive {
        display: none;
    }

    #contentContainer02 {
        width: 90%;
    }

    .mobileActive {
        display: block;
    }

    .desktopActive {
        display: none;
    }

  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    body {background: orange;}
    #About_Heading {
        font-size: 28px;
    }
    #contentContainer {
        width: 60%;
    }

    #servicesContainer {
        padding-top: 0%;
    }

    .tabletScreenActive{
        display: none;
    }

    .smallTabletScreenActive{
        display: none;
    }

    .phoneScreenActive {
        display: none;
    }

    #contentContainer02 {
        width: 80%;
    }

    .mobileActive {
        display: block;
    }

    .desktopActive {
        display: none;
    }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    body {background: pink;}
    #About_Heading {
        font-size: 32px;
    }
    #contentContainer {
        width: 60%;
    }

    .tabletScreenActive{
        display: none;
    }

    .smallTabletScreenActive{
        display: none;
    }

    .phoneScreenActive {
        display: none;
    }

    #contentContainer02 {
        width: 60%;
    }

    .mobileActive {
        display: block;
    }

    .desktopActive {
        display: none;
    }
  }

  @media only screen and (min-width: 992px) and (max-width: 1497px){
    .laptopScreenActive{
        display: block;
    }

    .desktopScreenActive{
        display: none;
    }

    .itemContainer {
        padding-bottom: 0;
    }

    #contentContainer {
        padding-bottom: 2%;
        width: 60%;
    }
    #Who_Are_We{
        font-size: 1.4em;
    }

    #images {
        width: 20%;
    }

    #servicesContainer {
        padding-top: 0%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .tabletScreenActive{
        display: none;
    }

    .smallTabletScreenActive{
        display: none;
    }

    .phoneScreenActive {
        display: none;
    }

    #contentContainer02 {
        width: 80%;
    }

    .mobileActive {
        display: block;
    }

    .desktopActive {
        display: none;
    }
  }

  @media only screen and (min-width: 1498px) {
    .laptopScreenActive{
        display: none;
    }

    .desktopScreenActive{
        display: block;
    }
    #contentContainer {
        width: 60%;
        padding-bottom: 5%;
    }

    #images {
        width: 20%;
    }

    #servicesContainer {
        padding-top: 0%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .tabletScreenActive{
        display: none;
    }

    .smallTabletScreenActive{
        display: none;
    }

    .phoneScreenActive {
        display: none;
    }

    #contentContainer02 {
        width: 70%;
    }

    .mobileActive {
        display: block;
    }

    .desktopActive {
        display: none;
    }
  }
